.container {
  display: grid;
  height: 100%;
  grid-template-rows: 3.8rem 1fr;
}

.dashboard_header {
  display: flex;
  padding: 0 2rem;
  align-items: center;
}
.dashboard_header_search {
  margin-left: auto;
  display: flex;
}

.dashboard_header_search > div {
  padding-right: 1rem;
}

.dashboard_content {
  /* display: grid; */
  height: 100%;
  background-color: var(--color-background-grey);
  grid-template-rows: 20% 1fr;
  padding: 2.2rem 1.4rem 0;
}

.content_navigation_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  padding: 0 0 4rem;
}

.navigation__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--color-blue-darkest);
  height: 3.8rem;
  padding: 6.2rem;
  margin: 1.4rem;
  font-size: 1.1rem;
}

.table_container {
  background-color: var(--color-background);
  padding: 1rem 0 0 ;
  border: 1px solid var(--color-border);
  border-radius: var(--card-border-radius);
}
